* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center
}

header nav {
  padding: 0.5rem;
}

header nav a {
  padding: 0.5rem;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  color: #DAA520;
  ;
}

.childDiv1 {
  margin: 0.5rem;
}

.childDiv1 input {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 18px;
  border: 1px black solid;
}

.childDiv1 button {
  padding: 0.5rem;
  border: none;
  border-radius: 18px;
  letter-spacing: 1px
}

header nav a:hover {
  cursor: pointer;
  background-color: #dbdada;
  border-radius: 3px;
}

#navIcon,
#searchIcon,
#modeIconDark,
#modeIconLight,
#navCloseIcon {
  display: none;
}

.childDiv2 {
  display: none;
  position: relative;
}

#navClose {
  position: absolute;
  right: 8px;
  top: 3px;
}

#search {
  border-radius: 15px;
  height: 30px;
  padding: 3px;
  border: 1px solid black;
}

aside {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  background-color: #47b947;
}

aside ul {
  list-style: none;
  display: flex;
  gap: 7rem;
}

aside li {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

aside li:hover {
  cursor: pointer;
  color: #a60202;
}

footer {
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
}

footer p {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

footer nav {
  padding: 0.5rem;
  margin: 0.5rem;
}

footer nav a {
  text-decoration: none;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  color: black;
}

#mainContent {
  padding: 0.5rem;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  box-shadow: 2px 2px 20px #b39393;
  border-radius: 8px;
}

.mainContent1 {
  font-size: 1.5rem;
}

.mainContent1,
.mainContent2 {
  padding: 0.5rem;
  margin: 0.5rem;
  letter-spacing: 1px;
  text-align: justify;
}

#add {
  border: none;
  background-color: transparent;
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 1.2rem;
  transition: font-size 0.2s ease-in;
}

#add:hover {
  cursor: pointer;
  font-size: 1.5rem;
}

#Arraybox {
  font-size: 2rem;
  color: transparent;
  font-family: Brush Script MT;
  background-image: linear-gradient(#dbcf68, #8c7e09);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -2000px 0;
  animation: backcolor 2.5s ease-out infinite;
}

@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}

#formContainer {
  padding: 1rem;
  margin: 1rem;
  display: none;
  justify-content: center;
}

form {
  padding: 2.5rem;
  box-shadow: 2px 2px 20px #b39393;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

input {
  padding: 0.5rem;
}

.addcancelGroup {
  display: flex;
  justify-content: space-around;
}

#addBtn,
#cancelBtn {
  padding: 0.5rem;
  border-radius: 18px;
  border: none;
  background-color: #b6ffb4;
}

#AllGoals,
#CompletedGoals,
#PendingGoals,
#asideContainer,
#searchedContent {
  display: none;
  padding: 0.5rem;
  margin: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
}

#AllGoals>div,
#CompletedGoals>div,
#PendingGoals>div,
#searchedContent>div {
  flex-basis: 22%;
  box-sizing: border-box;
}

#asideContainer>div {
  flex-basis: 22%;
  box-sizing: border-box;
}

.cardContainer {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px 2px 20px #b39393;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  letter-spacing: 1px;
  background-color: white;
}

.TaskAddDeleteBtn {
  display: flex;
  justify-content: space-between;
}

#TaskCompleteBtn,
#TaskDeleteBtn {
  padding: 0.5rem;
  border-radius: 18px;
  border: none;
  background-color: #b6ffb4;
}

#TaskCompleteBtn:hover {
  cursor: pointer;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 1rem;
  padding: 1rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #b57373;
  color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  letter-spacing: 1px;
  transform: rotateY(180deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 10px #333;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: justify;
}

.modal-content h2 {
  text-align: center;
}

.close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
  color: #888;
}

.close:hover {
  color: #000;
}

@media screen and (min-width:320px) and (max-width:375px) {
  header nav {
    padding: 1rem;
    display: none;
    width: 95%;
    background-color: gray;
    position: absolute;
    top: 86px;
    text-align: center;
    z-index: 1;
  }

  header nav a {
    font-size: 18px;
    display: block;
  }

  .childDiv1 {
    display: none;
  }

  #navIcon,
  #searchIcon,
  #modeIconDark {
    display: inline;
  }

  #navIcon,
  #searchIcon,
  #navCloseIcon,
  #modeIconLight,
  #navClose,
  #modeIconDark:hover {
    cursor: pointer;
  }

  aside {
    overflow: auto;
    white-space: nowrap;
    padding: 0.5rem;
  }

  aside ul {
    gap: 1rem;
  }

  footer p {
    font-size: 1rem;
  }

  .mainContent1 {
    font-size: 1.2rem;
  }

  .mainContent2 {
    font-size: 1.8rem;
  }

  form {
    padding: 1rem;
  }

  label {
    font-size: 1rem;
  }

  #AllGoals {
    margin: 2.5rem 0;
    width: 100%;
    overflow: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  #asideContainer>div {
    flex-basis: 90%;
    box-sizing: border-box;
  }

  #asideContainer,
  #CompletedGoals,
  #PendingGoals {
    display: none;
    padding: 0.5rem;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (min-width:376px) and (max-width:481px) {
  header {
    position: relative;
  }

  header nav {
    display: none;
    padding: 1rem;
    background-color: #2d2b2b;
    width: 95%;
    position: absolute;
    top: 86px;
    z-index: 1;
    text-align: center;
  }

  header nav a {
    padding: 0.5rem 0.2rem;
    font-size: 17px;
  }

  #navIcon {
    display: inline;
  }

  #navIcon,
  #navCloseIcon {
    position: absolute;
    right: 20px;
  }

  .childDiv1 {
    position: absolute;
    top: 70px;
    width: 90%;
  }

  .childDiv1 input {
    width: 100%;
  }

  .childDiv1 button {
    display: none;
  }

  #modeIconDark {
    display: inline;
  }

  #modeIconDark,
  #modeIconLight {
    position: absolute;
    right: 45px;
  }

  #navIcon,
  #navCloseIcon,
  #modeIconLight,
  #modeIconDark:hover {
    cursor: pointer;
  }

  aside {
    overflow: auto;
    white-space: nowrap;
    padding: 0.5rem;
    margin: 1rem 0;
  }

  aside ul {
    gap: 1rem;
  }

  footer p {
    font-size: 1rem;
  }

  #AllGoals,
  #CompletedGoals,
  #PendingGoals {
    margin: 2.5rem 0;
    width: 100%;
    overflow: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  #asideContainer>div {
    flex-basis: 91%;
    box-sizing: border-box;
  }

  #asideContainer {
    display: none;
    padding: 0.5rem;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (min-width:482px) and (max-width:878px) {

  #head img {
    position: absolute;
    left: 80px;
    top: -5px;
  }

  #navIcon {
    display: inline;
    position: absolute;
    left: 30px;
  }

  #navCloseIcon {
    position: absolute;
    left: 30px;
  }

  #navIcon,
  #navCloseIcon:hover {
    cursor: pointer;
  }

  header nav {
    display: none;
    background-color: grey;
    position: absolute;
    top: 85px;
    padding: 1.5rem;
    width: 97%;
    text-align: center;
  }

  header nav a {
    padding: 0.5rem;
    font-size: 18px;
  }

  aside {
    overflow: auto;
    white-space: nowrap;
    padding: 0.5rem;
  }

  aside ul {
    gap: 5rem;
  }

  #AllGoals,
  #CompletedGoals,
  #PendingGoals {
    margin: 2.5rem 0;
    width: 100%;
    overflow: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  #asideContainer>div {
    flex-basis: 91%;
    box-sizing: border-box;
  }

  #asideContainer {
    display: none;
    padding: 0.5rem;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
  }
}